// === Main Colors ===
$color-bg:      #0f1519;
$color-bg2:     #141b1f;
$color-text:    #ffffff;
$footer-bg:     #1c262d;

// === Gradients ===
$pink-blue:       linear-gradient(to right, rgb(212, 0, 255), rgb(0, 98, 255));
$blue-header:     linear-gradient(to right, rgba(0, 52, 240), rgba(0, 123, 223));
$card-blue:       linear-gradient(to right, rgba(0, 124, 240, 0.5), rgba(0, 156, 223, 0.5));

// === Buttons ===
$button-bg:     #0d6efd;
$button-h1:     #0b5ed7;
$button-h2:     #0a58ca;

// === Cards ===
$card-bg:       #1c262d;
$card-bdr:      #41596c;
$card-bdr2:     #547896;




* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #0f1519;
  color: white;
  font-size: 16px;
}



// === COMPONENTS ===

.home {
  display: flex;
  justify-content: center;
  // background-color: pink;
}


.coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    gap: 1.2rem;
    font-size: clamp(1rem, 3vw, 5rem);
    color: rgb(217, 213, 213);
  }

  h2 {
    background: $pink-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141b1f;
    height: 3rem;
  }

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $blue-header;
  height: 3rem;
  
  padding-inline-start: clamp(1rem, 5vw, 10rem);
  padding-inline-end: clamp(1rem, 5vw, 10rem);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  ul {
    display: flex;
    gap: 2rem;

    font-family: 'Trebuchet MS';
    list-style: none;
  }

  li a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-family: 'Trebuchet MS';
  }

}










// NOTES FOR LATER //

//
// main {
//   color: #fff6d5;
//   font-family: sans-serif;
//   text-align: center;
// }
//
// .logo {
//   height: 20em;
// }
//
// .heart:after {
//   content: "❤️";
//
//   font-size: 1.75em;
// }
//
// h1 + .subtitle {
//   display: block;
//   margin-top: -1em;
// }
